<footer class="container-fluid text-center">
	<div class="row">
	<a href="https://twitter.com/jahilliar"><i class="spacer fa fa-twitter fa-3x" aria-hidden="true"></i></a>
	<a href="https://www.facebook.com/hilliard.justin"><i class="spacer fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
	<a href="https://github.com/jahilliard"><i class="spacer fa fa-github fa-3x" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/jhilliard1"><i class="spacer fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
	<a href="mailto:justin.a.hilliard@gmail.com"><i class="spacer fa fa-envelope fa-3x" aria-hidden="true"></i></a>
	<a href="https://soundcloud.com/user300866107"><i class="spacer fa fa-soundcloud fa-3x" aria-hidden="true"></i></a>
	</div>
	<br>
	<div class="row">
  		<p>Justin Hilliard Copyright &copy; 2016</p>
  	</div>
</footer>