<div class="jumbotron">
  <div  id="head-cont" class="container text-center">
    <div class="row">
      <div class="col-md-4 front">
        <img id= "headshot" src="img/headshot.jpg">
      </div>
      <div class="col-md-8 front">
        <div class="words">
          <h1>Justin Hilliard</h1>
          <p>Software <i class="em em-space_invader"></i> Surf <i class="em em-surfer"></i> Art <i class="em em-art"></i> Innovate <i class="em em-ghost"></i> Make </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container main-content">